body
{
    font-family: 'Roboto' sans-serif;
    display: flex;
   align-items: center;
    background-color: #151b29;
    justify-content: center;
    height: 100vh;/* vh : View Point Height */
}
button
{
    background: none;
    color: #ffa230;
    border: 2px solid;
    padding: 10px;
    font-size: 9px;
}
button:hover
{
    border-color: yellow;
    box-shadow: 0 0.5em 0.5em -0.4em yellow;
    transform: translateY(-0.25em);
    color: red;
}